
body{
  background: #e6e6e6;

}
.alls{
  background: #fff;
}
.one{
  background: 	#4d4d4d;

}
ul li a{
  font-size: 10px;
  color: #fff;

}
ul li{
  padding: 5px;
}
.mid_ol{
  border: 1px solid red;
}
.last_o{
  color: #ff4000;
}
.download{
  padding: 5px;
  color: #fff;
  border: 2px solid #fff;

}
.download:hover{
    text-decoration: none;
    cursor: crosshair;
}
h4{
  color: white;
  /*font-size: 15px;*/
}
.sun_rise{
  position: relative;
}
.front{
  text-align: center;
  position: absolute;
  margin-top: -280px;
  margin-left: -125px;
}
@media(max-width:420px){
  .front{
    text-align: center;
    position: absolute;
    margin-top: -280px;
    margin-left: 0px;
  }
}

.two{
  position: absolute;
  bottom: 550px;
}
.rgt{
  float: right;
  position: absolute;
  margin-top: -250px;
  margin-left: 1150px;
}
.lft{
  position: absolute;
  margin-top: -250px;
  margin-left:0px;
}
.service{
  text-align: center;
  background: #fff;
  margin-left: -15px;
}
.box1{
text-align: center;
border: 1px solid red;
margin: 10px;
padding: 10px;
height: 240px;
width: 265px;

}
.box2{
text-align: center;
border: 1px solid green;
margin: 10px;
padding: 10px;
height: 240px;
width: 265px;

}
.box3{
text-align: center;
border: 1px solid skyblue;
margin: 10px;
padding: 10px;
height: 240px;
width: 265px;

}
.box4{
text-align: center;
border: 1px solid yellow;
margin: 10px;
padding: 10px;
height: 240px;
width: 265px;

}
.we{
  color:#ff4000;
}
.learn{
  color:#ff4000;
  border: 2px solid #ff4000;

}
.learn:hover{
  text-decoration: none;
  cursor: crosshair;
}
.web{
  color: #fff;
  background: #ff4000;
  margin: 10px;
}
.heart{
  color: #fff;
  background: #ff6666;
  padding: 10px;
  margin-left: -10px;

}
.signal{
  background: #ff4d4d;
  color: #fff;
  padding: 10px;
}
.marker{
  background:#ff3333;
  color: #fff;
  padding: 10px;
}
.lock{
  background:#ff0000;
  color: #fff;
  padding: 10px;

}
